body {
    overflow: hidden;
}

.outline-none {
    border: none;
    box-shadow: none
}

.outline-none:focus {
  border: none;
  box-shadow: none ;
}

.self-end{
    justify-self: end;
}

.mount-filter {
    transform: translateX(0%);
}

.unmount-filter {
    transform: translateX(-100%);
}

.filter-in-out {
    transition: transform 300ms ease-in-out;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#cartSection {
    width: 600px;
    max-width: 90%;
}

.shift-left {
    transform: translateX(0%);
}

.shift-right {
    transform: translateX(100%);
}

.cart-in-out {
    transition: transform 300ms ease-in-out;
}

#cartItemList{
    overflow: auto;
}

#cartTotal{
    min-height: 10%;
    max-height: 80px;
    background-color: #aaa;
}

 #confirmBox {
    min-width: 300px;
    transition: opacity 300ms ease-in-out;
}


.scale-in {
    opacity: 1;
    transform: scale(1);
}

.scale-out {
    opacity: 0;
    transform: scale(0);
}
